<div class="genre-index">
  <head>
    <link rel="stylesheet" href="genres.scss" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
    <h1>Jenres</h1>
    <% @genres.each do |genre| %>
    <div class="genre-index2">
      <div class="genre-index3">
        <%= link_to genre_path(genre.id) do %>
         <p>ジャンル名:<%= genre.name %></p>
        <% end %>
         <p>説明:<br /><%= genre.instruction %></p>
      </div>
    </div>
    <% end %>
    <p><%= link_to "ジャンル追加", new_genre_path %></p>
</div>