<div class="main">
  <head>
    <link rel="stylesheet" href="tops.scss" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1><strong>Bikers</strong></h1>
    <div class="dialogue">May you meet good people<br /> on a good Motorbike<br /> and have a good life!</div>
  </body>
</div>