.genre-index {
  color:#000;
}

.genre-index h1 {
  margin-top: 0;
  color: #ddd;
  font-size: 70px;
  font-family: 'Lobster', cursive;
}

.genre-index2 {
  display: inline-flex;
  opacity: 0.6;
  border: 1px #fff solid;
  width: 280px;
  height: 145px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.genre-index3 {
  display: inline-block;
}

.genre-index3 p {
  color: #fff;
  opacity: 1.5;
}

