.genre-index {
  color:#000;


}

.genre-index h1 {
  color: #000;
}

.genre-index2 {
  display: inline-flex;
  border: 1px #000 solid;
  width: 280px;
  height: 250px;
  margin-bottom: 5px;
}

.genre-index3 {
  display: inline-block;
}
