// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-all {
  padding: 5px;

}


.post-new {
  background-image: image-url('landscape9.jpg');
  background-size:cover;
  background-position: center;
  }


.post-img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.index-all {
  background-color: #ddd;
}
