// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-new {
  background: linear-gradient(#f7797d,#fbd786,#c6ffdd);
  
}

