＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: image-url('bike2.jpg');
  height: 900px;
  background-size:cover;
  background-position: center;
  margin: 0 auto;
}

.main h1 {
 text-align: center;
}

strong {
  color:white;
  font-size: 140px;
  font-family: 'Lobster', cursive;
}

.main h5 {
  color: #fff
}