＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(https://www.yamaha-motor.co.jp/mc/life/55mph/photo/img/006/img_point_01.jpg);
  height: 900px;
  background-size:cover;
  background-position: center;
  margin: 0 auto;
}

h1 {
 text-align: center;
}

strong {
  color:white;
  font-size: 140px;
  font-family: 'Lobster', cursive;
}

h5 {
  color: #fff
}