＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: image-url('bike2.jpg');
  height: 900px;
  background-size:cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-width:375px) and (max-width:450px) {
  .main {
    background-size: contain;
    height: 250px;
  }

  .main strong {
    font-size: 50px;
  }

  .dialogue {
  font-size: 10px;
}
}

.main h1 {
 text-align: center;
 margin-top: 0;
}

strong {
  color:white;
  font-size: 140px;
  font-family: 'Lobster', cursive;
}

.dialogue {
  margin-top: 22px;
  color:white;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 3.0s;
  animation-iteration-count: 1;
}
  @keyframes fadeIn{
   from {
    opacity: 0;
    transform: translateY(20px);
   }
   to {
        opacity: 1;
        transform: translateY(0);
    }
  }



.main h5 {
  color: #fff
}