＊ {
  margin: 0px;
  padding: 0px;
  text-decoration: nane;
}

.post-index {
  width: 400px;
  margin: 60px auto 0;

}

.post-index2 {
  justify-content: center;
  width: 400px;
  text-align: center;
  font-size: 15px;
  color: #767676;
  margin-bottom: 14px;
  border: 1px #ddd solid;
}


.post-image{
  width: 30%;
  height: auto;
}




