＊ {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


.post-show {
  display: flex;
  padding: 15px;
}

.post-name, .post-caption, .post-usr-name {
  width: 400px;
  text-align: center;
  font-size: 15px;
  color: #767676;
}

.post-show2 {
  border: none;
  padding-left: 8px;
}

.post-time {
  text-align: left;
  color: #767676;
  font-size: 15px;
}

.post-delete {
  text-align: right;
  font-size: 10px
}

.comments {
  display: inline;
}

.comment-create h3 {
  text-align: center;
  color:#888;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  margin-bottom: 0;
  margin-top: 0;
}



.comment-create {
  text-align: center;

}
