＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-new {
  margin: auto;
  text-align: center;
  border: 1px #000 solid;
}
.post-new h1{
  color: #999999;
}

.post-new h4{
  color: #999999;
}

.post-new ul {
  display: none;
}




